doctype html
html(lang='en')
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Document
  body
    #root
      app
    script(type='text/javascript', src='/manifastfb662587f81587710fde.js')
    script(type='text/javascript', src='/vendor95f0f6a31694da2c3904.js')
    script(type='text/javascript', src='/appc541564e0e8ecc063b40.js')
